.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-left: 250px;
  }
  
  .top-bar-left {
    display: flex;
    align-items: center;
  }
  
  .welcome-text {
    font-size: 1rem;
    color: #4a4a4a;
  }
  
  .user-name {
    font-weight: bold;
    color: #00d1b2;
  }
  
  .top-bar-center {
    flex-grow: 1;
    display: flex;
    justify-content: center;
  }
  
  .search-bar {
    width: 50%;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ddd;
    font-size: 1rem;
  }
  
  .top-bar-right {
    display: flex;
    align-items: center;
  }
  
  .icon-button {
    background: none;
    border: none;
    margin-left: 15px;
    font-size: 1.5rem;
    cursor: pointer;
    color: #4a4a4a;
  }
  
  .icon-button:hover {
    color: #00d1b2;
  }
  