.header-menu {
  height: 100vh; /* Ocupa toda a altura da tela */
  width: 250px;  /* Define a largura da barra lateral */
  position: fixed;
  left: 0;
  top: 0;
  background-color: #f8f8f8;
  padding-top: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.menu-label {
  padding-left: 20px;
  font-size: 1.25rem;
  font-weight: bold;
}

.menu-list {
  margin-top: 20px;
}

.menu-list li a {
  padding: 10px 20px;
  display: block;
  color: #4a4a4a;
  font-size: 1rem;
}

.menu-list li a:hover, .menu-list li a.is-active {
  background-color: #00d1b2;
  color: white;
}

/* Estilos da seção de informações do usuário */
.user-info {
  position: absolute;
  bottom: 20px;
  display: flex;
  align-items: center;
  padding: 10px;
  width: 100%;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.user-info:hover {
  background-color: #e6e6e6;
}

.user-avatar img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.user-details {
  margin-left: 10px;
}

.user-name {
  font-size: 1rem;
  font-weight: bold;
  color: #4a4a4a;
}

.user-email {
  font-size: 0.875rem;
  color: #7a7a7a;
}

/* Ao passar o mouse, altera a cor do texto */
.user-info:hover .user-name,
.user-info:hover .user-email {
  color: #00d1b2;
}
